.log_container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login_header {
  color: #1877f2;
}
.log_form {
  width: 50%;
  height: auto;
  max-width: 500px;
  border: 1px solid #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  border-radius: 8px;
  gap: 1rem;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.newsection {
  height: 1.5px;
  background-color: #f0f2f5;
  border: none;
  width: 80%;
}
.log_info {
  width: 50%;
  height: 50vh;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.log_info_holder p {
  font-size: 25px;
  line-height: 28px;
  width: auto;
}

@media (max-width: 1050px) {
  .log_container {
    flex-direction: column;
  }
  .log_holder {
    width: calc(100% - 2%);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .log_info_holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .log_form {
  }
}
